/* Properties for other selectors */
*{
    font-family: Monaco;
}

.menu, .ll{
    text-align: center;
    color:#FA9F42;
}

.ll{
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid #495E57;
}

.menu {
    font-size: 40px;
}

.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color:#E0E0E2;
}


/* Add rules for the steps mentioned below */
.section{
    padding: 10px;
    width: 30%;
}

.meal-type {
    font-size: 30px;
}

.label{
    font-weight: bold;
    font-size: 30px;
}

.description{
    font-style: italic;
    border-top: 2px solid #495E57;
}

.item-name{
    margin: 25px;
    font-size: 25px;
}

b{
    float: right;
    margin-top: -25px;
    color: darkcyan;
}

div > h3{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: #495E57;
}

.label + .low{
    color: brown;
}

div ~ div{
    color: rgb(90, 90, 90);
}